*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    display: block;
}

a {
    color: #000000;
    text-decoration: none;
}

.header-main {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0 0 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

span {
    color: #2e2f42;
}

ul {
    list-style-type: none;
}

.nav {
    gap: 40px;
    display: flex;
}

.nav-box{
position: relative;
}

.nav-list {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-color {
    color: #404bbf;
}

.nav-list:hover,
.nav-list:focus {
    color: #404bbf;
}

.nav-box::after{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #404bbf;
    display: block;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    gap: 40px;
    display: flex;
}

.option {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option:hover,
.option:focus {
    color: #404bbf;
    cursor: pointer;
}

.solution {
    max-width: 1440px;
    background-color: #2E2F42;
    padding: 188px 0;
    background: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.solution-title {
    max-width: 496px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.solution-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-btn:hover,
.solution-btn:focus {
    background-color: #404BBF;
}

.info {
    padding: 120px 0 120px 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.info-list {
    gap: 24px;
    display: flex;
}

.info-details {
    width: calc((100% - 72px)/4);
    letter-spacing: 0.02em;
}

.info-box{
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-first{
    fill: #2e2f42;
}

.info-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.info-txt {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.team-info {
    gap: 24px;
    display: flex;
}

.team-title,
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    margin: 72px auto;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 2px 2px 4px 0px rgba(46, 47, 66, 0.16);
}

.team-wrap {
    padding: 32px 0;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-txt {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-links{
    max-width: 264px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    text-align: center;
    line-height: 40px;
}

.icon{
    width: 16px;
    height: 16px;
    fill: #FFFFFF; 
}

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-wrap {
    flex-wrap: wrap;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-box {
    width: calc((100% - 48px)/3);
    position: relative;
}

.overlay{
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 120px;
    left: 0;
    background-color: #4D5AE5;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .overlay,
.portfolio-box:focus .overlay{
    height: 300px;
    padding: 40px 32px;
}

.overlay-txt{
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.portfolio-txt-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:focus .portfolio-txt-box,
.portfolio-box:hover .portfolio-txt-box{
    box-shadow: 2px 2px 4px 0px rgba(46, 47, 66, 0.16);;
}

.portfolio-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px
}

.portfolio-txt {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.footer-box {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-cont{
    display: flex;
}

.footer-info{
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.accent {
    color: #f4f4fd;
}

.footer-txt {
    max-width: 264px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: justify;
    color: #F4F4FD;
}

.footer-name{
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}