*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
}

header{
    width: 1440px;
    height: 72px;
    padding: 24px 151px 24px 115px;
    display: flex;
}

a {
    color: #000000;
    text-decoration: none;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    width: 115px;
    color: #4D5AE5;
}

.accent{
    color: #4D5AE5;
}

ul{
    list-style-type: none;
    display: inline-block;
}

.nav{
    display: flex;
}
.nav-list{
    width: 67px;
    display: inline-block;

}

.solution{
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-left: 472px;
}

.solution-title{
    width: 496px;
    height: 120px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2%;
    text-align: center;
    line-height: 60px;
}

.solution-btn{
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    margin-top: 84px;
    margin-left: 166px;
}

.info{
    width: 1440px;
    height: 344px;
    padding: 120px 156px;

}

.hidden{
    display: none;
}

.info-list,
.team-info{
    display: flex;
}

.info-details{
    position: relative;
    width: 264px;
    height: 104px;
    margin: auto;
    text-align: justify;
}

.info-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.info-txt{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team{
    width: 1440px;
    height: 732px;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-left: 156px;
    padding-right: 156px;

}

.team-title,
.portfolio-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}

.team-list{
    position: relative;
    background-color: #FFFFFF;
    width: 264px;
    height: 380px;
    margin: 72px auto;
    border-radius: 0 0 4px 4px;
    /* box-shadow: 16% #2E2F42; */
}

.team-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    margin-top: 32px;
}

.team-txt{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    margin-top: 2px;
}

.portfolio{
    width: 1440px;
    height: 1240px;
padding: 120px 144px;
}

.portfolio-title{
    margin-bottom: 62px;
}

.portfolio-box{
    width: 360px;
    height: 420px;
    display: inline-block;
    border: 1px solid #E7E9FC;
    margin: 14px 10px;
}

.portfolio-img{
    width: 358px;
    height: 300px;
}

.portfolio-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    margin-top: 25px;
    margin-left: 15px;
    color: #2E2F42;
}

.portfolio-txt{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    margin-top: 8px;
    margin-left: 15px;
}

footer{
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 156px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    color: #F4F4FD;
    letter-spacing: 3%;
}

.footer-txt{
    width: 264px;
    height: 72px;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: justify;
    margin-top: 16px;
}