*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

@media (min-width: 320px){
  .header-main {
    padding: 16px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  span {
    color: #2e2f42;
  }

  ul {
    list-style-type: none;
  }

  .nav {
    gap: 40px;
    display: flex;
    display: none;
  }

  .nav-list {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-color {
    color: #404bbf;
    position: relative;
  }

  .nav-list:hover,
  .nav-list:focus {
    color: #404bbf;
  }

  .nav-color::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #404bbf;
    display: block;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
  }

  .address {
    font-style: normal;
    margin-left: auto;
    display: none;
  }

  .address-list {
    gap: 40px;
    display: flex;
  }

  .list-option {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .option:hover,
  .option:focus {
    color: #404bbf;
    cursor: pointer;
  }

  .burger-menu{
    height: 0;
  }

  #menu__toggle{
    opacity: 0;
  }

  .menu__btn{
    display: flex;
    align-items: center;
    position: fixed;
    top: 16px;
    right: 16px;
    width: 17px;
    height: 15px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #2e2f42;
  }

  .menu__btn>span::before {
      content: '';
      top: -3.6px;
  }

  .menu__btn>span::after {
      content: '';
      top: 3.6px;
  }

  .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 72px 16px;
      text-align: left;
      background-color: #fcfcfc;
  }

  .burger-contacts{
    position: absolute;
    bottom: 40px;
} 

  .menu__box_ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .menu__item {
      display: block;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 36px;
      font-weight: 700;
      text-decoration: none;
  }

  .menu__item:hover,
  .menu__item:focus {
      color: #404bbf;
  }

  #menu__toggle:checked~.menu__btn>span {
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
           border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-exit-btn{
    fill: transparent;
  }

    #menu__toggle:checked~.modal-btn:active,
    #menu__toggle:checked~.modal-btn:focus {
      border: none;
      background-color: #404bbf;
  }

    #menu__toggle:checked~.modal-btn:active .icon-exit-btn,
    #menu__toggle:checked~.modal-btn:focus .icon-exit-btn {
      fill: #ffffff;
  }

  #menu__toggle:checked~.menu__btn>span>.icon-exit-btn{fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  #menu__toggle:checked~.menu__btn>span::before {
      opacity: 0;
  }

  #menu__toggle:checked~.menu__btn>span::after {
      opacity: 0;
  }

  #menu__toggle:checked~.menu__box {
      visibility: visible;
      left: 0;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
      transition-duration: 250ms;
  }

  .menu__box {
      transition-duration: 250ms;
  }

  .menu__item {
      transition-duration: 250ms;
  }

  .burger-address{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  .option{
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    display: block;
  }

  .social-links-burger{
    width: 280px;
    display: flex;
    gap: 40px;
  }

  .solution {
    max-width: 1440px;
    background-color: #2e2f42;
    padding: 72px 52px;
    background: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  .solution-title {
    min-width: 160px;
    max-width: 496px;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    margin-bottom: 72px;
  }

  .solution-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .solution-btn:active,
  .solution-btn:focus {
    background-color: #404bbf;
  }

  .info {
    padding: 96px 0 96px 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .info-list {
    gap: 72px;
    display: flex;
    flex-direction: column;
  }

  .info-item {
    letter-spacing: 0.02em;
  }

  .info-wrap {
    display: none;
  }

  .info-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }

  .info-txt {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .team {
    background-color: #f4f4fd;
    padding: 96px 0;
  }

  .team-list {
    gap: 72px;
    display: flex;
    flex-direction: column;
  }

  .team-title,
  .portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .team-item {
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .team-wrap {
    padding: 32px 0;
  }

  .team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }

  .team-txt {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }

  .social-links {
    max-width: 264px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
  }

  .social-item-style {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-item-style:active,
  .social-item-style:focus {
    background-color: #404bbf;
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .icon {
    fill: #f4f4fd;
  }

  .portfolio {
    padding: 96px 0 96px 0;
  }

  .portfolio-list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .portfolio-img {
    height: 300px;
    position: relative;
  }

  .portfolio-item {
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .overlay-txt {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:focus,
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:focus .overlay-txt,
  .portfolio-item:hover .overlay-txt {
    transform: translateY(0%);
  }

  .portfolio-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .portfolio-txt {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .footer-box {
    background-color: #2e2f42;
    padding: 96px 0px;
  }

  .footer-cont {
    min-width: 288px;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .footer-info{
    max-width: 288px;
    margin: 0 auto;
  }

  .footer-logo {
    width: 264px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    margin-bottom: 17.5px;
    text-align: center;
  }

  .accent {
    color: #f4f4fd;
  }

  .footer-txt {
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: justify;
    color: #f4f4fd;
  }

  .footer-name {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .hover:active,
  .hover:focus {
    background-color: #31d0aa;
  }

  .links-gap {
    gap: 16px;
  }

  .footer-links-wrap {
    width: 208px;
    margin: 0 auto;
  }

  .subscribe-wrap {
    width: 288px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .footer-email {
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    color: #ffffff;
    border: 1px solid #4d5ae5;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-email:placeholder-shown {
    border: 1px solid #ffffff;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-btn {
    max-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #ffffff;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-btn:active,
  .footer-btn:focus {
    background-color: #404bbf;
  }

  .icon-submit {
    fill: #ffffff;
    margin-left: 16px;
  }

  .txt {
    width: 77px;
    height: 24px;
    display: block;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    width: 288px;
    min-height: 584px;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn-exit {
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-exit {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn-exit:active,
  .modal-btn-exit:focus {
    border: none;
    background-color: #404bbf;
  }

  .modal-btn-exit:active .icon-exit,
  .modal-btn-exit:focus .icon-exit {
    fill: #ffffff;
  }

  .modal-title {
    display: block;
    width: 256px;
    min-height: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    margin-bottom: 16px;
  }

  .form-wrap {
    width: 256px;
    height: 58px;
    margin-bottom: 8px;
  }

  .form-area {
    width: 100%;
    height: 40px;
    position: relative;
  }

  .form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
    display: block;
  }

  .modal-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    outline: transparent;
  }

  .form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:hover,
  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:hover + .form-icon,
  .modal-input:focus + .form-icon {
    fill: #4d5ae5;
  }

  .comment-area {
    margin-bottom: 16px;
  }

  .comment {
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
  }

  .check-wrap {
    margin-bottom: 24px;
    min-height: 16px;
  }

  .check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .check-link {
    color: #4d5ae5;
    text-decoration: underline;
  }

  .check-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  input[type="checkbox"]:checked + .check-label > .check-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .form-submit {
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-submit:hover,
  .form-submit:focus {
    background-color: #404bbf;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .logo {
    margin-right: 120px;
  }

  .header{
    display: flex;
    flex-direction: row;
  }

  .header-main{
    padding: 0;
  }

  .burger-menu{
    display: none;
  }

  .nav{
    display: flex;
  }

  .nav-list{
    padding: 24px 0;
  }
  .nav-list:hover,
  .nav-list:active,
  .nav-list:focus {
    color: #404bbf;
  }

  .address {
    display: flex;
    font-style: normal;
    margin-left: auto;
    padding: 16px 0;
  }

  .address-list {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .list-option {
    line-height: 14px;
    padding: 0;
  }

  .option:hover,
  .option:active,
  .option:focus {
    color: #404bbf;
    cursor: pointer;
  }

  .solution {
    padding: 112px 136px;
  }

  .solution-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 60px;
    margin: 0 auto 36px auto;
  }

  .solution-btn:hover,
  .solution-btn:active,
  .solution-btn:focus {
    background-color: #404bbf;
  }

  .info {
    padding:  96px 0;
  }

  .info-list {
    width: 736px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    margin: 0 auto;
  }

  .info-item {
    max-width: 356px;
    letter-spacing: 0.02em;
  }

  .info-title {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .info-txt {
    font-weight: 500;
  }

  .team {
    padding: 96px 0;
  }

  .team-list {
    max-width: 552px;
    column-gap: 24px;
    row-gap: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .team-title,
  .portfolio-title {
    line-height: 40px;
    margin-bottom: 72px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
 }

  .team-wrap {
    padding: 32px 0;
  }

  .team-txt {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }

  .social-item-style:hover,
  .social-item-style:active,
  .social-item-style:focus {
    background-color: #404bbf;
  }

  .portfolio {
    padding: 96px 0;
  }

  .portfolio-list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-img {
    width: 100%;
    height: 300px;
    position: relative;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-item:focus,
  .portfolio-item:active,
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:focus .overlay-txt,
  .portfolio-item:active .overlay-txt,
  .portfolio-item:hover .overlay-txt {
    transform: translateY(0%);
  }

  .footer-box {
    background-color: #2e2f42;
    padding: 96px 0;
  }

  .footer-cont {
    width: 530px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footer-info{
    width: 264px;
    margin-bottom: 48px;
  }

  .footer-logo {
    text-align: left;
  }


  .footer-name {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .hover:hover,
  .hover:focus {
    background-color: #31d0aa;
  }

  .links-gap {
    gap: 16px;
  }

  .footer-links-wrap {
    margin: 0;
  }

  .subscribe-wrap {
    width: 455px;
    height: 80px;
  }


  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-btn {
    margin: 0;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn-exit {
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-exit {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn-exit:hover,
  .modal-btn-exit:active,
  .modal-btn-exit:focus {
    border: none;
    background-color: #404bbf;
  }

  .modal-btn-exit:hover .icon-exit,
  .modal-btn-exit:active .icon-exit,
  .modal-btn-exit:focus .icon-exit {
    fill: #ffffff;
  }

  .modal-title {
    display: block;
    width: 360px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    margin-bottom: 16px;
  }

  .form-wrap {
    width: 360px;
    height: 58px;
    margin-bottom: 8px;
  }

  .form-area {
    width: 100%;
    height: 40px;
    position: relative;
  }

  .form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
    display: block;
  }

  .modal-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    outline: transparent;
  }

  .form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:hover,
  .modal-input:active,
  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:hover + .form-icon,
  .modal-input:active + .form-icon,
  .modal-input:focus + .form-icon {
    fill: #4d5ae5;
  }

  .comment-area {
    margin-bottom: 16px;
  }

  .comment {
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
  }

  .check-wrap {
    margin-bottom: 24px;
    height: 16px;
  }

  .check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .check-link {
    color: #4d5ae5;
    text-decoration: underline;
  }

  .check-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  input[type="checkbox"]:checked + .check-label > .check-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .form-submit {
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-submit:hover,
  .form-submit:active,
  .form-submit:focus {
    background-color: #404bbf;
  }
}

@media (min-width: 1440px) {
    .header{
        display: flex;
    }

    .header-main{
        padding: 0;
    }

    .burger-menu{
        display: none;
    }

    .nav{
        display: flex;
    }

    .nav-list{
        padding: 24px 0;
    }

    .address{
        display: flex;
        padding: 24px 0;
    }

  .option:hover,
  .option:focus {
    color: #404bbf;
    cursor: pointer;
  }

  .solution {   
    padding: 188px 0;
  }

  .solution-title {
    max-width: 496px;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .solution-btn:hover,
  .solution-btn:focus {
    background-color: #404bbf;
  }

  .info {
    padding: 120px 0 120px 0;
  }

  .info-list {
    gap: 24px;
    display: flex;
    flex-direction: row;
  }

  .info-item {
    width: calc((100% - 72px) / 4);
    letter-spacing: 0.02em;
  }

  .info-wrap {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-icon {
    fill: #2e2f42;
  }

  .info-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }

  .info-txt {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
    display: flex;
    flex-direction: row;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-wrap {
    padding: 32px 0;
  }

  .social-item-style:hover,
  .social-item-style:focus {
    background-color: #404bbf;
  }

  .portfolio {
    padding: 120px 0 120px 0;
  }

  .portfolio-list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .overlay {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .overlay-txt {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:focus,
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:focus .overlay-txt,
  .portfolio-item:hover .overlay-txt {
    transform: translateY(0%);
  }

  .footer-box {
    background-color: #2e2f42;
    padding: 100px 0;
  }

  .footer-cont {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    text-align: left;
  }

  .accent {
    color: #f4f4fd;
  }

  .footer-txt {
    max-width: 264px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: justify;
    color: #f4f4fd;
  }

  .footer-name {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .hover:hover,
  .hover:focus {
    background-color: #31d0aa;
  }

  .links-gap {
    gap: 16px;
  }

  .footer-links-wrap {
    margin-right: 80px;
  }

  .subscribe-wrap {
    width: 455px;
    height: 80px;
  }

  .footer-form{
    display: flex;
    flex-direction: row;
  }

  .footer-email {
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    color: #ffffff;
    border: 1px solid #4d5ae5;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-email:placeholder-shown {
    border: 1px solid #ffffff;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-btn {
    min-width: 165px;
    height: 40px;
    margin: 0;
    background-color: #4d5ae5;
    color: #ffffff;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-btn:hover,
  .footer-btn:focus {
    background-color: #404bbf;
  }

  .icon-submit {
    fill: #ffffff;
    margin-left: 16px;
  }

  .txt {
    width: 74px;
    height: 24px;
    display: block;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn-exit {
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-exit {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn-exit:hover,
  .modal-btn-exit:focus {
    border: none;
    background-color: #404bbf;
  }

  .modal-btn-exit:hover .icon-exit,
  .modal-btn-exit:focus .icon-exit {
    fill: #ffffff;
  }

  .modal-title {
    display: block;
    width: 360px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    margin-bottom: 16px;
  }

  .form-wrap {
    width: 360px;
    height: 58px;
    margin-bottom: 8px;
  }

  .form-area {
    width: 100%;
    height: 40px;
    position: relative;
  }

  .form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
    display: block;
  }

  .modal-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    outline: transparent;
  }

  .form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:hover,
  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:hover + .form-icon,
  .modal-input:focus + .form-icon {
    fill: #4d5ae5;
  }

  .comment-area {
    margin-bottom: 16px;
  }

  .comment {
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
  }

  .check-wrap {
    margin-bottom: 24px;
    height: 16px;
  }

  .check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .check-link {
    color: #4d5ae5;
    text-decoration: underline;
  }

  .check-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  input[type="checkbox"]:checked + .check-label > .check-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .form-submit {
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-submit:hover,
  .form-submit:focus {
    background-color: #404bbf;
  }
}

@media (min-resolution: 192dpi) {
    .solution {
        background: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/background@2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}